.bh{
    text-align: center;
}
.Info{
    background-image: url('images.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}
.Mid{
    background-image: url(imagess.png);
    width: 100%;
    height: 50px;
}
.sec{
    height:50px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10%;
}
.lit{
    margin-top: 40px;
}
.p{
    color: tomato;
}