.toolbar{
    width: 100%;
    height:150px;
    padding: 10px;
    background-image: url(sortingpics.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.but{
    height: 120px;
    width:  160px;
    border-radius: 50%;
    background-color: #cc00ff;
}
.he{
    color: rosybrown;
}
.left{
    margin-top: 15px;
    margin-right: 140px;
    margin-left: 40px;
}
.ret{
    color: black;
    background-color: darkcyan;
}
.head{
    height: 100px;
    width:480px;
    margin-top: 10px;
    background-color: #cc00ff;
    border-radius: 15px;
    box-shadow: 5px 6px grey;
}
.head:hover {background-color:purple}

.cent{
    margin-top: 10px;
    text-align: center;
}
.ry{
    margin-left: 60px;
    margin-top: 40px;
}
.byn{
    height:50px;
    width:140px;
    background-color: brown;
}
.qqq{
    background-image: url(sortingpic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:550px;
}
.array-bar{
    width:35px;
    background-color: rgba(10, 10, 119, 0.678);
    display: inline-block;
    margin: 0 1px;
    border-top: 0;
}
.ct{
    margin-right: 220px;
    position: absolute;
    left:450px;
    bottom:10px;
}
.checkbtn{
    color: azure;
    font-size: 25px;
    cursor: pointer;
    display:none;
}
#check{
    display:none;
}
@media screen and  (max-width:1300px){
    .ct{
        margin-right: 120px;
        position: absolute;
        left:350px;
    }
    .array-bar{
        width:10px;
        background-color: rgba(10, 10, 119, 0.678);
        /* display: inline-block; */
        margin: 0 1px;
        
    }
    .he{
        font-size: 18px;
        margin-bottom: 0px;
        position: absolute;
        top:26px;
        left:55px;
    }
    .ht{ 
        height: 10px;
        width: 100px;
        margin-top: 30px;
    }
    .head{
        height:100px;
        width:300px;
    }
}
@media screen and (max-width:900px){
    .ct{
        margin-right: 20px;
        position: absolute;
        left:200px;
    }
    .array-bar{
        width:5px;
        background-color: rgba(10, 10, 119, 0.678);
        /* display: inline-block; */
        margin: 0 1px;
    }
}
